/*-----------------RESET CSS-------------------*/

* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------------CUSTOM CSS-------------------*/

.page-container {
  height: 100%;
  width: 100%;
}

.mpc-container {
  float: right;
	margin-right: 80px;
  width: 800px;
  height: 500px;
  border: 2px black solid;
  vertical-align: middle;
	background-color: #595657;
	position: relative;
	top: 100px;
}

.pads-container {
  margin: 10px;
  width: 500px;
  height: 450px;
  text-align: center;
	background-color: white;
	/*border: 3px #C87B25 solid;*/
	border-radius: 8px 0 0 8px;
	background-color: #595657;
	margin-top: 20px;
	margin-left: 20px;
	border-top: 3px #C87B25 solid;
	border-right: 1.7px #C87B25 solid;
	border-bottom: 3px #C87B25 solid;
	border-left: 3px #C87B25 solid;
	position: relative;
	left: 2px;
}

.under-pads-container {
	margin-right: 15px;
	margin-top: 15px;

}

.container-single-pad {
	background-color: black;
	display: inline-block;
	height: 117px;
	width: 140px;
	position: relative;
	top: 10px;
	left: 10px;
	margin: 3px;
	padding: 3px;
	border-bottom: 3px #A9A9A9 solid;
	font-family: Poppins;
}

.container-single-pad-pressed {
	background-color: black;
	display: inline-block;
	height: 117px;
	width: 140px;
	position: relative;
	top: 10px;
	left: 10px;
	margin: 3px;
	padding: 3px;
	border-bottom: 3px #313133 solid;
	font-family: Poppins;
}

.container-single-pad:active {
	border-bottom: 3px #313133 solid;
}

.note-key {
  position: relative;
  top: 10px;
	border-radius: 12px;
  display: inline-block;
  height: 100px;
  width: 120px;
	cursor: pointer;
	background-color: #D9D9D9;
}

.note-key:active {
	background-color: #353435;
	color: white;
}

.note-key-pressed {
	background-color: #353435;
	color: white;
	position: relative;
  top: 10px;
	border-radius: 12px;
  display: inline-block;
  height: 100px;
  width: 120px;
	cursor: pointer;
}

.infos-box-wrapper {
	width: 250px;
	height: 450px;

	margin-bottom: 40px;
	margin-right: 20px;
	display: inline;
	float: right;
	position: relative;
	bottom: 466px;
	border-radius: 0 8px 8px 0;
	border-top: 3px #C87B25 solid;
	border-right: 3px #C87B25 solid;
	border-bottom: 3px #C87B25 solid;
	border-left: 1.7px #C87B25 solid;
}

.infos-box {
  float: right;
  width: 200px;
  height: 400px;
  margin: 30px;
	background-color: #A9A9A9;
	position: relative;
	bottom: 8px;
	left: 8px;
}

.screen {
  /*border: 2px black solid;*/
	border-right: 2px #eee solid;
	border-top: 2px #eee solid;
	border-left: 2px #595657 solid;
	border-bottom: 2px #595657 solid;
  margin: 20px;
  height: 60px;
	background-color: #EE2C2C;
}

.screen-text {
	font-family: Orbitron;
	color: #991D2D;
	font-size: 30px;
	text-align: center;
	position: relative;
	top: 20px;
}

#volume-slider {
	width: 200px;
	height: 1px;
	border: 10px black solid;
	border: 3px black solid;
	margin: 20px;
	position: relative;
	bottom: 50px;
}

/* Help mini slider */

.onoffswitch {
    position: relative; width: 49px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 14px; padding: 0; line-height: 14px;
    border: 0px solid #FFFFFF; border-radius: 30px;
    background-color: #fff;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 30px; margin: -8px;
    background: #43A868;
    position: absolute; top: 0; bottom: 0;
    right: 31px;
    border-radius: 30px;
    box-shadow: 0 2px 6px 0px #757575;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #F2EFEF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #F2EFEF;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px;
    background-color: #fff;
    box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.help-wrapper {
	margin-left: 35%;
	margin-right: auto;
	margin-top: 120px;
}

#help-btn {
	text-align: center;
	position: relative;
	right: 37px;
	margin-top: 20px;
	font-family: Poppins;
	font-size: 12px;
	color: #ccc;
}

.help-section {
	position: relative;
	left: 85px;
	font-family: Poppins;
	font-size: 12px;
}

.lightening-dot {
	border-radius: 10px;
	width: 60px;
	background-color: #490808;
	padding: 5px;

	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.lightening-dot-pressed {
	border-radius: 10px;
	width: 60px;
	background-color: red;
	padding: 5px;

	height: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.note-key:active .lightening-dot {
	background-color: red;
}


/*Bass attempt*/
.first-chord {
	width: 200px;
	height: 2px;
	border: 3px black solid;
}

/*Music styles buttons*/

.style-btn-container {
	text-align: center;
	margin-top: 400px;
	display: inline;
	z-index: 2;
}

.loop-btn {
	height: 30px;
	width: 50px;
	margin: 60px auto 10px auto;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #D3D3D3;
	border-bottom: 1px #696969 solid;
}

.loop-btn-selected {
	height: 30px;
	width: 50px;
	margin: 60px auto 10px auto;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #696969;
	border-bottom: 1px #D3D3D3 solid;
}

.first-two {
	float: left;
}

.last-two {
	float: right;
}

#loop1 {
	margin: 20px;
	position: relative;
	top: 15px;
}


#loop2 {
	margin: 20px;
	position: relative;
	top: 15px;
}

#loop3 {
	margin: 20px;
	position: relative;
	top: 15px;
}

#loop4 {
	margin: 20px;
	position: relative;
	top: 15px;
}

.text-loop {
	font-family: Poppins;
	font-size: 12px;
	position: relative;
	top: 30px;
}

.tech-style-btn {
	height: 30px;
	width: 50px;
	margin: 10px auto 10px auto;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #D3D3D3;
	border-bottom: 1px #696969 solid;
	cursor: no-drop;
}

.style-btn-active {
	height: 30px;
	width: 50px;
	margin: 10px auto 10px auto;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	background-color: #696969;
	border-bottom: 1px #D3D3D3 solid;
}

#hh {
	font-family: Poppins;
	font-size: 12px;
	/*margin-bottom: 15px;*/
}

#rock {
	font-family: Poppins;
	font-size: 12px;
	margin-bottom: 15px;
}

.tech {
	font-family: Poppins;
	font-size: 12px;
	color: #ccc;
	margin: 5px;
}

.lighty-dot {
	height: 10px;
	width: 10px;
	background-color: #490808;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

.lighty-dot-selected {
	height: 10px;
	width: 10px;
	background-color: red;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}


#mpc-border-left {
	height: 520px;
	width: 20px;
	border-radius: 2px;
	background-color: black;
	display: inline-block;
	position: absolute;
	left: -20px;
	top: -5px;
}

#mpc-border-right {
	height: 520px;
	width: 20px;
	border-radius: 2px;
	background-color: black;
	display: inline-block;
	position: absolute;
	right: -20px;
	top: -5px;
}


/* Audio player */

#audioplayer {
	margin-bottom: 20px;
}

.play {
	margin-left: 48px;
	cursor: pointer;
  border: none;
	background-size: 50% 50%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline:none;
}

.play:hover {
	color: #0075BE;
}

.stop {
	cursor: pointer;
  background-position: center;
  float:right;
  outline:none;
	margin-right: 48px;
}

.stop:hover {
	color: #ccc;
}

/* Pads */


.pad1-class-key {
	position: absolute;
	top: 80px;
	font-family: Poppins;
	left: 85px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad2-class-key {
	position: absolute;
	top: 80px;
	font-family: Poppins;
	left: 240px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad3-class-key {
	position: absolute;
	top: 80px;
	font-family: Poppins;
	left: 400px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad4-class-key {
	position: absolute;
	top: 210px;
	font-family: Poppins;
	left: 85px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad5-class-key {
	position: absolute;
	top: 210px;
	font-family: Poppins;
	left: 245px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad6-class-key {
	position: absolute;
	top: 210px;
	font-family: Poppins;
	left: 400px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad7-class-key {
	position: absolute;
	top: 350px;
	font-family: Poppins;
	left: 85px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad8-class-key {
	position: absolute;
	top: 350px;
	font-family: Poppins;
	left: 245px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

.pad9-class-key {
	position: absolute;
	top: 350px;
	font-family: Poppins;
	left: 400px;
	border-radius: 4px;
	background-color: black;
	color: white;
	padding: 4px;
}

/* Recorder */

.multitrack-recorder {
	border: 1px black solid;
	height: 450px;
	width: 280px;
	float: right;
	margin-right: 40px;
	margin-top: 80px;
}


.trackMonitor {
	position: absolute;
	height: 280px;
	width: 220px;
	display: block;
	margin-top: 160px;
	display: inline;
	text-align: center;
	margin-left: 30px;
	/*border: 1px black solid;*/
}

button:focus {outline:0;}

.yo {
	/*background-color: blue;*/
}

.tracks {
	border: 1px black solid;
}

#track1 {
	border: 1px black solid;
	width: 180px;
	margin: 15px auto;
	padding: 15px;
	border-radius: 3px;
	font-family: Poppins;
	cursor: pointer;
}

#track2 {
	border: 1px black solid;
	width: 180px;
	margin: 15px auto;
	padding: 15px;
	border-radius: 3px;
	font-family: Poppins;
	cursor: pointer;
}

#track3 {
	border: 1px black solid;
	width: 180px;
	margin: 15px auto;
	padding: 15px;
	border-radius: 3px;
	font-family: Poppins;
	cursor: pointer;
}

#track4 {
	border: 1px black solid;
	width: 180px;
	margin: 15px auto;
	padding: 15px;
	border-radius: 3px;
	font-family: Poppins;
	cursor: pointer;
}

.track-selected {
	background-color: #eee;
}

.track-non-selected {
	background-color: #fff;
}

#metronome-img {
	margin-left: 15px;
}

.metronome-wrapper {
	margin-top: 80px;
	margin-left: 75px;
}

#help-icon {
	position: absolute;
	top: 430px;
	right: 238px;
	cursor: pointer;
}

.volume-icon {
	position: relative;
	right: 100px;
}

.record-btns {
	text-align: center;
	padding-top: 30px;
}

.play-loop-btn {

}

.stop-loop-btn {

}


/*----------------------Left area (explanations)-------------*/

.left-area {
	height: 100%;
	width: 300px;
	position: absolute;
	background-color: #EAB435;
}

.app-title {
	font-family: SkaterDudes;
	text-align: center;
	margin: 40px;
	font-size: 40px;
}

.app-title:hover {
	cursor: pointer;
}

.btns-wrapper {
	position: absolute;
	top: 600px;
}

.explanations-text {
	margin: 15px;
	font-family: Poppins;
}

b {
	font-weight: bold;
}

.instructions-el {
	color: #fff;
}


.next-button {
	border-radius: 20px;
	background-color: #EE2C2C;
	width: 70px;
	height: 40px;
	text-align: center;
	/*margin-top: 70px;*/
	cursor: pointer;
	border-bottom: 2px solid #821717;
	position: absolute;
	bottom: 70px;
	margin-left: 110px;
}

.next-button:hover {
	background-color: rgba(238, 44, 44, 0.8);
}

.text-next-button {
	position: relative;
	top: 12px;
	font-family: Poppins;
	font-size: 14px;
	color: #fff;
}

#step-1 {
	z-index: -1;
}

.step-1-pad-background {
	background-color: red;
}

.step-2-pad-background {
	background-color: orange;
}

.step-3-pad-background {
	background-color: yellow;
}

.step-4-pad-background {
	background-color: brown;
}

.step-5-pad-background {
	background-color: #2B78E4;
}


#step-2 {
	z-index: -1;
}

#step-3 {
	z-index: -1;
}

#step-4 {
	z-index: -1;
}

#step-5 {
	z-index: -1;
}

#step-6 {
	z-index: -1;
}


.display-rec {
	color: red;
	position: absolute;
	left: 55%;
	top: 30px;
	font-family: Orbitron;
	font-size: 40px;
}

.display-rec-default {
	color: white;
	position: absolute;
	left: 55%;
	top: 30px;
	font-family: Orbitron;
	font-size: 40px;
}

a {
	color: inherit;
	text-decoration: none;
}

a:link {
	color: #EE2C2C;
}

a:hover {
	text-decoration: underline;
	border-bottom-color: #EE2C2C;
}

#help-icon-left {
	color: black;
}

/*-------------------------- Bass ---------------------------*/
.bass-pic {
	height: 600px;
	width: 900px;
}

.chord {
	border: 1px black solid;
	width: 450px;
	height: 4px;
	position: relative;
	bottom: 355px;
	left: 250px;
	margin-top: 10px;
	background-color: black;
}

.chord:hover {
	cursor: pointer;
}
